<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>404 Error - page not found</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet"/>
</head>
<body>
  <h1 id="page_title" class="centered">&#x26a0; 404 Error - page not found &#x26a0;</h1>
  <h2 class="centered">&#x2639; Uh oh. &#x2639;</h2>
  <p class="centered">
    Sorry, we could not find the page you were looking for.  Please go back to the homepage and re-start from there.
  </p>
</body>
</html>
